* {
    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI';
    background-color:white;
    color: black;
}

header {
    background-color: #C23949;
    color: white;
    padding-top: 0%;
    padding-bottom: 0%;
}
header a {
    text-decoration: none;
    color: white;
}

a:hover {
    color:black
}

@font-face {
    font-family: 'Segoe UI';
    src: url('/site/fonte-de-texto/Segoe\ UI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.card-principal {
    display: flex;   
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 120%;
    margin-right: 10%;
    margin-left: 8%;
}


@media (max-width: 415px) {
    .card-principal {
        display: grid;   
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        margin: auto;
        text-align: center;
        font-size: 130%;        
    }

    .borda-menu {
        border: 1px solid white;
        padding: 10px;
        margin: 0px;
        border-radius: 20px;
    }

    .card-principal-imagens {
        display: grid;   
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        text-align: center;
        margin-left: 38%;
        width: 25%;
    }
}

.card-principal-imagens {
    display: flex;
    margin-right: 250px;
}

.slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 30px 20px;
    padding-bottom: 505px;
    background-color: whitesmoke;
}

.foto-slideshow {
    width: 800px;
    height: 480px;
    position: absolute;
    opacity: 0;
    animation: transicao 20s infinite;
}

.logo-slideshow {
    width: 350px;
    height: 350px;
    padding: 15px;
    margin-top: 50px;
}

.foto-slideshow:nth-child(1) {
    animation-delay: 0s;
}

.foto-slideshow:nth-child(2) {
    animation-delay: 5s;
}

.foto-slideshow:nth-child(3) {
    animation-delay: 10s;
}

.foto-slideshow:nth-child(4) {
    animation-delay: 15s;
}

@keyframes transicao{
    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.card2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px 30px 20px;
    background-color: white;
    font-size: 13pt;
}

.card3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px 30px 20px;
    background-color: whitesmoke;
    font-size: 13pt;
}

.card4 {

    padding: 15px 5% 30px 5%;

    background-color: white;
    font-size: 13pt;
}

.logos-empresas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
}

#tamanho-logo {
    width: 75%;
    border-color: white;
    border-style: solid;
}

#tamanho-logo:hover {
    border-color: #C23949;
    border-style: solid;
}

.card5 {    
    padding: 15px 20px 30px 20px;
    background-color: whitesmoke;
    font-size: 13pt;
}

.card6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-size: 13pt;
    margin-right: 25%;
    margin-left: 25%;
}

#icones {
    height: 40px;
    padding: 0px 10px 0px 10px;
}

footer {
    background-color: #C23949;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.centralizar-elementos {
    margin: auto;
    text-align: center;
}

form {
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 5px 10px grey ;
    padding: 15px;
}

input, textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 1em;
    margin-top: 0.5em;
    margin-left: 4px;
}

#botao-enviar {
    background-color: #C23949;
    color: white;
    border-radius: 20px;
    height: 5vh;
    width: 10vw;

}




    
    





















