* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI';
    background-color: white;
    color: black;
    
}

header a {
    text-decoration: none;
    color: white;
}

a:hover {
    font-weight: 900;
}

header {
    background-color: #C23949;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('/site/fonte-de-texto/Segoe\ UI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.card-principal {
    display: flex;   
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 25px;
    
}

.card-principal-imagens {
    display: flex;
    margin-right: 250px;
}

.slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5px 20px 30px 20px;

    padding-bottom: 480px;
}

.foto-slideshow {
    width: 800px;
    height: 450px;
    padding: 15px;

    position: absolute;

    opacity: 0;
    animation: transicao 20s infinite;
}

.logo-slideshow {
    width: 350px;
    height: 350px;
    padding: 15px;

    margin-top: 50px;
}

.foto-slideshow:nth-child(1) {
    animation-delay: 0s;
}

.foto-slideshow:nth-child(2) {
    animation-delay: 5s;
}

.foto-slideshow:nth-child(3) {
    animation-delay: 10s;
}

.foto-slideshow:nth-child(4) {
    animation-delay: 15s;
}

@keyframes transicao{
    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.card2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 15px 20px 30px 20px;

    background-color: whitesmoke;
    font-size: 13pt;
}

.card3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 15px 20px 30px 20px;

    background-color: white;
    font-size: 13pt;
}

.card4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 15px 20px 30px 20px;

    background-color: whitesmoke;
    font-size: 13pt;
}

.card5 {    
    padding: 15px 20px 30px 20px;
    background-color: white;
    font-size: 13pt;
}

.card6 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    font-size: 13pt;
}

footer {
    background-color: #C23949;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.centralizar-elementos {
    margin: auto;
    text-align: center;
}

form {
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 5px 10px grey ;
    padding: 15px;
}

input, textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 1em;
    margin-top: 0.5em;
    margin-left: 4px;
}

#posicao-botao {
    position: relative;
    left: 33.5em;
    bottom: 0.5em;
}

#botao-enviar {
    background-color: #C23949;
    color: white;
    border-radius: 20px;
    
    height: 25px;
    width: 60px;
}





















